@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 84%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header { background-color: #232323; }

.menu ul:last-child { margin-right: 19px; }

.menu .active { border-bottom: 3px solid #ed3e3d; }

header .wrapper {
  padding-top: 29px;
  display: flex;
  justify-content: space-between;
}

.menu li {
  padding: 0px 12px;
  text-transform: capitalize;  
}

.menu li a {
  padding: 0px 8px 25px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.hamburger {
  width: 35px;
  height: 100%;
  float: right;
  position: relative;
  display: none;
}

.hamburger span {
  width: 35px;
  height: 4px;
  margin: 5px 0;
  display: block;
  background: #fff;
  text-indent: -99999px;
  transition:  0.5s ease;
}

/* nav:hover ul{
  width: 100%;
  display: block;
  float: none;
  position: absolute; 
  top: 90%;
  right: 0;
  left: 0;
  background-color: #269384;
  text-align: center;
} */
.open .bar-two { display: none; }
.open .bar-one { transform: rotate(45deg) translatex(7px); }
.open .bar-three { transform: rotate(-45deg) translatex(7px); }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*=================================
  banner section styling starts here
=================================*/
.dots { display: none; }

.banner .disable { display: none; }

.banner figure { position: relative; }

.banner .wrapper { 
  width: 100%;
  text-transform: uppercase;
}

.slide-content span {
  color: #ed3e3d;
  font-weight: 1000;
}

h2 {
  font-size: 50px;
  color: #fff;
}

.slide-content{
  position: absolute;
  top: 50%;
  text-align: center;
  left: 25%;
}
/*=================================
  banner section styling ends here
=================================*/
/*=================================
  products section styling starts here
=================================*/
h4::first-letter { text-transform: uppercase; }

.products .wrapper { padding: 93px 0px; }

.product-content div:first-child { margin-bottom: 20px; }

.link { margin-top: 13px; }

.heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
}

h3 {
  text-transform: capitalize;
  font-size: 30px;
}

.link a {
  position: relative;
  color: #ed3e3d;
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 12px;
}

.link a::after {
  content: "\f054";
  font-family: fontAwesome;
  float: right;
  font-weight: 0;
  font-size: 8px;
  padding-left: 2px;
  position: absolute;
  top: 2px;
  bottom: 0;
}

.all-products {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.all-products > li { 
  width: 31.5%; 
  margin-bottom: 25px;
}

.product-content div {
  display: flex;
  justify-content: space-between;
}

.star {
  text-indent: -9999px;
  display: inline-block;
}

.star::before{
  content: "\f005";
  font-family: fontAwesome;
  text-indent: 0;
  font-size: 13px;
  float: right;
  color: #ed3e3d;
}

h4 {
  color: #5397c9;
  font-weight: bold;
}

.product-content {
  padding: 32px;
  border: 1px solid #ccc;
  border-top: none;
}

.product-content p {
  margin-bottom: 20px;
  color: #7c7c7c;
  font-size: 14px;
  line-height: 22px;
}

.product-content span {
  font-weight: bold;
  color: #232323;
}

.review {
  color: #ed3e3d;
  text-transform: capitalize;
  font-size: 12px;
}
/*=================================
  products section styling ends here
=================================*/
/*=================================
  about section styling starts here
=================================*/
.about-content p a { color: #468af9; }

.about-content p { margin-bottom: 20px; }

.about-content p a::first-letter{ text-transform: uppercase; }

.title-line { margin-bottom: 20px; }

.about-content li:first-child { width: 47%; }

.about-content {
  padding-bottom: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.about-content  {
  margin-bottom: 20px;
  color: #7c7c7c;
  font-size: 15px;
  line-height: 22px;
}

.list li {
  margin-bottom: 15px;
  display: block;
  color: #7c7c7c;
  font-size: 14px;
  list-style-type: square;
}

.red-button {
  padding: 8px 16px;
  border-radius: 3px;
  text-transform: capitalize;
  background-color: #ed3e3d;
  color: #fff;
}
/*=================================
  about section styling ends here
=================================*/
/*=================================
  purchase section styling starts here
=================================*/
.purchase h4 span { font-weight: 1000; }

.purchase .wrapper {
  padding: 50px 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.purchase-content{
  padding: 3%;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  background-color: #f7f7f7;
}

.purchase h4 {
  color: #5397c9;
  text-transform: capitalize;
}

.purchase p {
  color: #7c7c7c;
  font-size: 14px;
  line-height: 22px;
}
/*=================================
  purchase section styling ends here
=================================*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer a { color: #ed3e3d; }

footer .wrapper { padding: 62px 0px; }

footer {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #7c7c7c;
}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/

@media only screen and (min-width: 1024px) {
  .menu li a:hover { border-bottom: 3px solid #ed3e3d; }

  .link a:hover, .review:hover, footer a:hover { color: #e69696; }

  .all-products li:hover { box-shadow: 5px 10px 18px #888888; }

  .red-button:hover { background-color: #eb6666; }

  .about-content p a:hover {color: #1d5abd;}

  .about img:hover { box-shadow: 5px 5px #eb6666;; }

}  
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  